<a [routerLink]="[recipeId]" class="list-group-item clearfix" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{newRecipe.name}}</h4>
    <p class="list-group-item-text">{{newRecipe.description}}</p>
  </div>
  <span class="pull-right">
      <img class="img-responsive" src="{{newRecipe.imagePath}}" style="max-height: 50px;"/>
  </span>
</a>