<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" [routerLink]="['new']">New Recipe</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <!--<rb-recipe-item *ngFor="let recipe of allRecipes" [newRecipe]="recipe" (click)="onSelected(recipe)"></rb-recipe-item>-->
      <rb-recipe-item *ngFor="let recipe of allRecipes; let i = index" [newRecipe]="recipe" [recipeId]="i"></rb-recipe-item>
    </ul>
  </div>
</div>
